@font-face {
    font-family:iranyekanwebmedium ;
    src: url(../پروژه\ آخر/@font-faceiranyekanwebmedium.woff);
}
@font-face {
    font-family:iranyekanwebregular ;
    src: url();
}
@font-face {
    font-family: ;
    src: url();
}
@font-face {
    font-family: ;
    src: url(../zarinpal/fonts/iranyekanwebregularwoff);
}
@font-face {
    font-family: ;
    src: url();
}
@font-face {
    font-family: ;
    src: url();
}